

/*CONTAINER TOPO*/
.topo {
    color: #ffffff;
    background-color: #1b3675;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 20px 0px;
    gap: 10px;
    border-bottom: 1px solid #fff;
}
.topo p {
    font-weight: 600;
}
.img_topo {
    width: 30px;
    height: 30px;
}

/*SEÇÃO APRESENTAÇÃO*/
.secao_apresentacao {
    width: 100%;
    padding: 40px 0px;
    background-color: #1b3675;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: auto;
    
}
.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
   
}
.apresentacao h1 {
    font-size: 29px;
    color: #cfa226
}
.apresentacao_paragrafo {
    color: rgba(245, 245, 245, 0.699);
    font-size: 20px;
    line-height: 30px;
}
.destacaque {
    color: #ffbb00;
}
.container_informacoes {
   display: flex;
   justify-content: space-between;
   
}
.informacoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
}
.informacoes div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.img_informacoes {
    width: 20px;
    height: 20px;
}

/*TODAS AS SECAO*/

.container_secoes {
    max-width: 60%;
    margin: auto;
}

/*SECAO BENEFICIOS*/

.secao_beneficio {
    margin: 50px auto 30px auto ;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img_beneficios {
    margin: auto;
    width: 500px;
    height: 220px;
}
.container_secoes h2{
    color: rgb(56, 55, 55);
}
.negrito {
    color: black;
    font-weight: 600;
}
.container_paragrafo_beneficio{
    margin: auto;
    text-align: left;
}
.paragro_beneficio{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.paragro_beneficio div {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 140px;
    margin: auto;
    
    
    
}
.paragro_beneficio div h3 {
    font-size: 15px;
    margin-bottom: 6px;
}
.paragro_beneficio div p {
    font-size: 14px;
}

/*SECAO DEPOIMENTO*/

.secao_depoimento {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.secao_depoimento div{
    
    display: flex;
    gap: 20px;
}