.secao_card {
    width: 100%;
    min-height: 90vh;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oklch(14.7% 0.004 49.25);
}
.container_card {
    width: 1440px;
    gap: 30px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 400px) {
    .secao_card {
       margin: auto;
    }
}
