.topo_container {
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    background-color: #856957;
    color: #fff;
}

@media (max-width: 400px) {
    .topo_container {
        font-size: 12px;
        padding: 10px 0px;
    }
}