/*EDIÇÃO IMAGEM */
.image {
    flex: 1;
    width: 180px;
    height: 100px;
    padding: 8px;
    object-fit: contain;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #000;

}

/*CORES DE FUNDO DOS ELEMENTOS*/
.card_signo_agua {
    background-color: blue;
    color: #fff;
    border: 2px solid #000;
    
}

.card_signo_fogo {
    background-color: red;
    color: #fff;
    border: 2px solid #000;
}
.card_signo_terra {
    background-color: #8b4513;
    color: #fff;
    border: 2px solid #000;
   
}
.card_signo_ar {
    background-color: #dcdcdc;
    color: #000;
    border: 2px solid #000;
    
}

/*ESTILIZAÇÃO DO CARD*/
.container_card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    gap: 15px;
    border-radius: 5px;
    
    
}
.container_card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.container_card h3 {
    font-weight: 600;
    font-size: 18px;
}
.container_card span {
    font-size: 14px;
}
.container_titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}


/*RESPONSIVIDADE*/
@media (max-width: 400px) {
   .container_card {
    margin: auto;
   }
   .card_signo_agua, .card_signo_fogo, .card_signo_terra, .card_signo_ar {
    width: 250px;
    margin: auto;
   }
}