.card_elemento {
    margin: auto;
    width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(161, 161, 161);
}
.img_aparelho{
    width: auto;
    max-height: 160px;
}

.card_elemento h3, .card_elemento p {
   width: 220px;
  
}

.card_elemento p {
   
    margin: auto;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}